@font-face {
  font-family: "opensans";
  src: url(fonts/opensans-variablefont.ttf);
}
:root {
  --clr-bg: #ffffff;
  --clr-fg: #24283b;
}
* {
  box-sizing: border-box;
}
html {
  align-items: center;
  overflow-y: scroll;
  scrollbar-color: #242424;
  scrollbar-width: thin;
}
.main {
  font-size: 30px;
  font-weight: 900;
  align-self: flex-start;
  margin-top: 60px;
}
body {
  min-height: 100vh;
  margin: 0;
  padding: 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-size: cover;
  background-color: #fff;
  font-family: "opensans", sans-serif;
  line-height: 30px;
  cursor: url(https://i.imgur.com/gENXYip.gif), auto;
}

.login-container {
  position: relative;
  width: 700px;
  height: 550px;
  background-color: white;
  border-radius: 10px;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-box {
  position: relative;
  width: 310px;
  margin: 30px 0;
  align-items: right;
  border: 1px black;
}

.input-box label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 1em;
  pointer-events: none;
  color: #373737;
}

.input-box input {
  width: 100%;
  height: 30px;
  background: transparent;
  font-size: 1em;
  border-radius: 10px;
}
.input-box:focus-within label {
  opacity: 0;
  visibility: hidden;
}
.input-box input:focus~label,
.input-box input:valid~label {
  top: -5px;
}
.input_box .icon {
  position: absolute;
  right: 8px;
  color: #fff;
  font-size: 1.2em;
  color: #fff;
}

.forgot-password {
  margin: -25px 0 5px;
  margin-left: 200px;
  font-size: 0.9em;
  color: #fff;
  display: flex;
}
.forgot-password label input {
  margin-right: 3px;
}
a {
  color: #000;
  text-decoration: none;
}
a:hover {
  color: #65adc9;
}
img {
  margin: 10px;
  border: 1px solid #3d3d3d;
  box-shadow: 5px 5px #3d3d3d;
  display: block;
  width: 88%;
}
hr {
  border: none;
  border-bottom: 1px solid #3d3d3d;
  width: 100%;
}
button {
  width: 100%;
  height: 40px;
  background: #83b5d6;
  border: 1px solid #83b5d6;
  outline: none;
  border-radius: 20px;
  font-size: 1em;
  color: #fff;
  font-weight: 500;
  cursor: pointer;
}
button:hover {
  background: #91c5e8;
  border: 1px solid #91c5e8;
}
.register-link {
  font-size: 0.9em;
  color: #000;
  text-align: center;
  margin: 25px 0 10px;
}
