spring.application.name=UniConn

# Database connection
spring.datasource.url=jdbc:mysql://localhost:3306/uni_conn
spring.datasource.username=root
spring.datasource.password=YOUR_PASSWORD

## Hibernate properties
spring.jpa.hibernate.ddl-auto=update
spring.jpa.open-in-view=false
